@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

@font-face {
  font-family: 'space-grotesk';
  src: url('./fonts/SpaceGrotesk.woff2') format('woff2');
  font-weight: 400;
}

.spaceGroteskClass {
  font-family: 'space-grotesk', sans-serif;
}

